body{
	max-width: 100%;
	max-height: 100%;
	display: block;
}

#particles-js {
	background: black;
	height: 100vh;	
	z-index: -1;
}

.simple-intro {
	z-index: 1;
	position: absolute;
	margin: 140px 50px 0px 150px;
	padding-right: 100px;
}

.icon{
	z-index:-1;
	filter: invert(99%) sepia(1%) saturate(398%) hue-rotate(200deg) brightness(119%) contrast(100%);
	margin-left:200px;

}
#nav-title{
	font-size: 25px;
	}

.fa-brands{
	color: white;
	padding: 10px;
}

#logo{
	width: 40px;
	height:40px;
	border-radius: 60px;
	margin-right: 5px;
	margin:10px;
}

.skills{
	background-image: linear-gradient( black,white);
/* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);	max-height: 1400px; */
	width: auto;
	padding: 10px 150px 30px 150px;
	font-weight: bold;
	
}

.skills-1{	
	background-color: rgb(246, 246, 248);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/*column-gap: 50px;
	row-gap: 50px;*/	
	border-radius: 20px;
	min-width: 40vh;		
}

.skills-1>div{
	padding: 20px 25px 5px 20px;
	background-color: rgb(250,250,250);
	border-radius: 20px;
	min-width: 150px;
	
}
.skills-2{
	text-align: center;
	/* padding: 20px px 5px 0px; */
	margin: 25px 25px 25px 25px;
	max-height: 150px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.fa-3x{
	color:black;
}

.skills-2:hover{
	box-shadow: 0px 5px 5px black;
}

.svgs{
	height: 9vh;
	width: 9vh;
}

.projects{
	background-color: white;	
}

.projects-2{
	margin: 10vh 10vh 10vh 10vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	
}

.card{
	background-color: black;
	margin: 25px 25px 25px 25px;
}

.contact{
	background-color: black;
	min-height: 100vh;
	padding-bottom: 5vh;
}

.contact-2{
	margin: 5vh 30vh 30vh 20vh;
	background-color: rgba(250, 250, 250, 0.75);
	padding: 10vh 20vh 10vh 30vh;
	border-radius: 20px;
	max-width: 100rem;		
}

.contact-1>form>div{
	padding: 1vh 1vh 1vh 1vh;
}

.col-25 {
	padding-bottom: 1vh;
}

.contact>h1{
	padding-top: 3vh;
}
.form-group>label{
	padding-bottom: 1vh;
}


/*<----------------------media queries---------------------->*/

@media only screen and (max-width:480px){
	.skills-2{
		display: flex;
		flex-direction: row;
		
	}
}